services:

  rabbitmq:
    image: rabbitmq:4.2
    container_name: rabbitmq
    hostname: rabbitmq
    restart: unless-stopped
    volumes:
      - demo-rabbitmq-data:/var/lib/rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - devnet

  redis:
    image: redis:8.4
    container_name: redis
    hostname: redis
    restart: unless-stopped
    volumes:
      - demo-redis-data:/data
    ports:
      - "6379:6379"
    networks:
      - devnet

  mongo:
    image: mongo:8.2
    container_name: mongo
    hostname: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - demo-mongo-data:/data/db
    ports:
      - "27017:27017"
    networks:
      - devnet

  mysql:
    image: mysql:8.4
    container_name: mysql
    hostname: mysql
    restart: unless-stopped
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8 --collation-server=utf8_general_ci --max-allowed-packet=1g
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=demo
    volumes:
      - demo-mysql-data:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - devnet

volumes:
  demo-rabbitmq-data:
    driver: local
  demo-redis-data:
    driver: local
  demo-mongo-data:
    driver: local
  demo-mysql-data:
    driver: local

networks:
  devnet:
    driver: bridge
