<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login Page</title>
</head>
<body>
    <h1>Welcome to login page</h1>
    <p th:if="${param.error}" class="error" style="color: red">Wrong user or password</p>
    <!-- ${pageContent.request.contextPath}/authenticateTheUser -->
    <form action="#" th:action="@{/my-authenticate}" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <button type="submit">Login</button>
    </form>
</body>
</html>
