spring:
  application:
    name: rate-limiting
  cache:
    type: redis
  redis:
    database: 0
    host: localhost
    port: 6379
    password:
    timeout: 60000
    ssl: false
    lettuce:
      pool:
        max-active: 5
        max-idle: 5
        min-idle: 0
        max-wait: 2s
