spring:
  application:
    name: caching
  datasource:
    url: jdbc:mysql://localhost:3306/demodb
    username: root
    password: root
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yml
  cache:
    type: redis
  data:
    redis:
      database: 0
      host: localhost
      port: 6379
      password:
      timeout: 60000
      lettuce:
        pool:
          enabled: true
          max-active: 8
          max-idle: 8
          min-idle: 2
          max-wait: -1ms

management:
  endpoints:
    web:
      exposure:
        include: health,caches,metrics
  endpoint:
    caches:
      enabled: true
